
/* Card */

mat-card {
  margin-top: 5%;
  margin-bottom: 0;
  background-color: whitesmoke;
}

mat-card-title{
  margin-bottom: 5%;
}

h2 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;
}

/* Remove blue border when clicking on a category */
.line:focus{
  outline: none;
}

/* For phones */
@media only screen and (max-width: 600px) {

  /* Card */
  mat-card {
    margin: 0;
  }
}
