/* Card */

mat-card {
  margin-top: 5vh;
  margin-bottom: 0;
  background-color: whitesmoke;
  padding: 2vh 2vw;
}

mat-card-title{
  margin-bottom: 5vh;
}

h2 {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-weight: bold;
}

/* Remove blue border when clicking on a category */
.line:focus{
  outline: none;
}

/* For phones */
@media only screen and (max-width: 600px) {

  /* Card */
  mat-card {
    margin: 0;
  }
   h2{
     font-size: smaller;
   }
}
