.line{
  height: 12vh;
  margin-bottom: 2vh;
  cursor: pointer;
}

.img-container{
  height: 12vh;
  width: 24vw; /* 30% of .center */
  display: inline-block;
  vertical-align: middle;
  overflow-y: hidden;
  text-align: center;
  overflow-x: hidden;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.text-container {
  height: 12vh;
  display: inline-block;
  width: 50vw; /* 62.5% of .center */
  margin-left: 1vw; /* 0.8% of .center */
  margin-right: 1vw; /* 0.8% of .center */
  vertical-align: top;
}

.vertical-align {
  line-height: 12vh;
}

/* Disable pointing on list item, if page is disabled */
.disabled  .line {
  cursor: not-allowed;
}

/* For phones */
@media only screen and (max-width: 600px) {

  /* Card */
  mat-card {
    box-shadow: none !important;
  }

  .vertical-align {
    line-height: 14vh;
  }

  .text-container, .img-container, .line{
    height: 14vh;
  }

  .img-container{
    width: 30vw; /* 30% of .center */
  }

  .text-container{
    width: 63vw; /* 62.5% of .center */
    margin-left: 2vw; /* 0.8% of .center */
  }

}
/*
Bold all line on hover (now is managed in single scss's style, since different bolding are requested)
.line :hover {
  font-weight: bold
}
*/
