@import "menu-style";
@import "virtual-scroll-style";


.product-name {
  display: inline-block;
  font-size: 130%;
  vertical-align:  middle;
  width: 35vw;
  margin-right: 1vw; /* 2% of .text-container */
  overflow: hidden;
  max-height: 100%;
  text-overflow: ellipsis;
  line-height: 1;
}

.first-line{
  margin-bottom: 1vh;
}

.product-price {
  font-size: 130%;
  display: inline-block;
  vertical-align:  middle;
  width: 13vw;
  text-align: right;
}


/*
@supports( (display: -webkit-box) and (-webkit-line-clamp: 3) and  (-webkit-box-orient: vertical) ){

 .product-description{
   -webkit-box-orient: vertical !important;
   display: -webkit-box;
   -webkit-line-clamp: 3;

 }
}
*/

.no-product{
  clear: both;
  display: block;
  text-align: center;
  font-size: 120%;
  margin-top: 5vh;
}

/* Bold product's name when hover */
.line:hover .product-name{
  font-weight: bold;
}

/* For phones */
@media only screen and (max-width: 600px) {

  /* Uncomment for allineate .product-description with .product-name */
  .product-name/*, .product-description */ {
    width: 43vw; /* 68% of .text-container */
  }

  .product-price{
    width: 19vw; /* 30% of .text-container */
  }

  .no-product{
    width: 100vw;
    margin-top: 5vh !important;
  };
}
