$grid-cols-0:      2;
$grid-cols-550:    3;
$grid-cols-800:    4;
$grid-cols-1300:   5;

@import "virtual-scroll-style";

.scroller-wrapper {
  padding: .5em 0px;
}

.item-content-container {
  position: relative;
}