<!-- Card -->
<ng-container *ngIf="productsSub | async as products; else loading">
  <ng-container *ngIf="products.length > 0; else noProducts">
    <app-nav-bar></app-nav-bar>
    <cdk-virtual-scroll-viewport itemSize=auto > <!--(scrolledIndexChange)="checkLoad($event)"-->
      <div class="responsive-container">
        <div class="item-content-container" *cdkVirtualFor="let product of products">
          <div class="price-tag"><span>{{product.prices[0].value | currency}}</span></div>
          <a routerLink="/products/{{product.id}}">
            <mat-card>
              <img src="{{product.images[0].imageUrl}}">
              <mat-card-content>
                <p>{{product.description}}</p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-container>
  <ng-template #noProducts>
    <app-message-template title="Nessun prodotto trovato" content="Nessun prodotto trovato"></app-message-template>
  </ng-template>
</ng-container>


  <!-- No Products -->
<ng-template #loading>
  <p>Caricamento prodotti...</p>
</ng-template>
<!-- </mat-card> -->
