.mat-dialog-content{
  overflow-x: hidden;
  padding: 0px;
}

mat-dialog-container{
  width: 64vw;
}

h3{
  text-align: center;
  clear: both;
}

.close{
  float: right;
}

.img-container, mdb-carousel-item{
  width: 20em;
  height: 16em;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  vertical-align: middle;
}

/* Center the image in carousel */
.carousel-item.active{
  display: block;
}

/* Hide image entering */
.carousel-item{
  display: none;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.product-detail{
  margin-top: 5vh;
  margin-left: 6vw; /* 10% of mat-dialog-container */
  margin-right: 6vw; /* 10% of mat-dialog-container */
  white-space: pre-line;
  text-align: center;
}

/* For phones */
@media only screen and (max-width: 600px) {

  .product-detail {
    text-align: center;
  }
}
