<!-- Header -->
<mat-icon   class="close" (click)="closeDialog()">close</mat-icon>

<!-- Content -->
<mat-dialog-content>
  <!-- Carousel -->
  <mdb-carousel class="center" *ngIf="product.imageUrls.length > 1" [animation]="'slide'">
    <mdb-carousel-item *ngFor="let image of product.imageUrls">
        <span aria-hidden="true" class="centerVertical"></span>
        <img src="{{image}}">
    </mdb-carousel-item>
  </mdb-carousel>
  <!-- Don't show carousel if only one image is present -->
  <div *ngIf="product.imageUrls.length === 1"  class="img-container center">
    <span aria-hidden="true" class="centerVertical"></span>
    <img src="{{product.imageUrls[0]}}">
  </div>
  <!-- Text -->
  <div class="dialog-text-container">
    <h3 mat-dialog-title class="overflow-text">{{product.name}}</h3>
    <span class="label">Prezzo:</span><span class="dialog-price"> {{product.price}} €</span>
    <span *ngIf="product.description != ''" class="label dialog-description">Descrizione: </span>
    <span class="dialog-product-description" [innerHTML]="product.description | noHTML: 'no-div'"></span>
  </div>
</mat-dialog-content>
