

h3{
  text-align: center;
  clear: both;
}

.close{
  width: auto;
  height: auto;
  font-size: xx-large;
}

.img-container, mdb-carousel-item{
  width: 22vw;
  height: 22vh;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

/* Center the image in carousel */
.carousel-item.active{
  display: block;
}

/* Hide image entering */
.carousel-item{
  display: none;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.label{
  font-weight: bold;
}
