<app-nav-bar></app-nav-bar>
<ng-container *ngIf="productSub | async as products; else loading">
  <ng-container *ngIf="products[0] as product; else noProduct">
    <app-cassaweb-carousel [slides]=product.images></app-cassaweb-carousel>
    <div class="content-container"> <!--stesso margin di margin destro bottone--> <!--margin top-->
      <button mat-raised-button class="cart-button" color="accent" aria-label="buy"><mat-icon>shopping_cart</mat-icon></button>
      <div class="summary">
        <span class="product-name">{{product.description}}</span>
        <span class="product-price">{{product.prices[0].value | currency}}</span>
      </div>
      <div class="buy options">
        <!--Quantità (?) drop down menu ? Placeholder comunque-->
        <!--button add to cart (colour accent)-->
        <button mat-raised-button class="add-to-cart-button" color="accent" aria-label="add to cart">Aggiungi al carrello</button>
      </div>
      <section>
        <h2>Descrizione</h2>
        <p [innerHTML]="product.descriptionExtended | noHTML: 'no-div'"></p>
      </section>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <p>Caricamento...</p>
</ng-template>
