h2  {
  font-weight: bold;
}
  
div.message-container {
  margin: 5vh 5vw;
  text-align: center;
  background-color: whitesmoke;
  padding: 1em;
  border-radius: 25px;
  height: fit-content;
}
  
p {
  font-size: 110%;
}