<app-nav-bar></app-nav-bar>

<cdk-virtual-scroll-viewport itemSize=auto>
  <div class="responsive-container" *ngIf="categorySub | async as categories; else loading">
    <div *cdkVirtualFor="let category of categories;">
      <div class="cat-container">
        <a routerLink="{{category.id}}">
            <img src="{{category.imageUrl}}"/>
            <span class="category-name">
              {{category.description | uppercase}}
            </span>
        </a>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>


<ng-template #loading>
  <!--mat card?-->
  <p class="no-product overflow-text">Recupero dati in corso...</p>
</ng-template>

