$grid-item-num-800:    3;
$grid-item-num-1300:   4;
$grid-column-gap:      0px;

@import "virtual-scroll-style";
@import "responsive-container";

//Commented out since cdkvirtualfor has been removed
// .responsive-container {
//   position: relative;
//   padding-top: 3.5em;
//   bottom: 3.5em;
// }

a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.category-name{
  font-size: 1.1em;
  position: relative;
  bottom: 1.8em;
  margin-left: .3em;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
  display: block;
}

div.cat-container {
  height: 35vw;
  overflow: hidden;
}

img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: transform .2s;
}

div.cat-container:hover img,
div.cat-container:focus img {
  transform: scale(1.2);
}

@media only screen and (min-width: 550px) {
  // .responsive-container {
  //   padding-top: 4em;
  //   bottom: 4em;
  // }

  .cat-container {
    height: 30vw;
  }
}

@media only screen and (min-width: 1300px) {
  // .responsive-container {
  //   padding-top: 2.8em;
  //   bottom: 2.8em;
  // }
}