span{
  clear: both;
  display: block;
  width: 80vw;
  border: 2px red solid;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
  margin-top: 5vh;
}

/* For phones */
@media only screen and (max-width: 600px) {

  span{
    width: 100vw;
  };

}
