<!-- Card -->
<mat-card class="center">

  <!-- Title -->
  <mat-card-title>
    <h2 class="overflow-text">Categorie</h2>
  </mat-card-title>

  <!-- Content -->
  <mat-card-content *ngIf="categories.length" class ="center">
    <!-- Virtual Scroll -->
    <cdk-virtual-scroll-viewport itemSize="{{this.scroll.itemSize}}" [ngStyle]= "this.scroll.viewPortSize">
      <!-- Categories -->
      <div *cdkVirtualFor="let category of categories;" class="line" clickable routerLink="{{category.id}}">
        <!-- Image -->
        <div class="img-container">
          <span class="centerVertical"></span>
          <img src="{{category.imageUrl}}"/>
        </div>
        <!-- Text -->
        <div class="text-container">
          <p class="vertical-align">
            <span class="category-name overflow-text">{{category.name}}</span>
          </p>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-card-content>

</mat-card>

