<!-- Card -->
<mat-card class="center">

  <!-- Title -->
  <mat-card-title>
    <h2 class="overflow-text">Categorie</h2>
  </mat-card-title>

  <!-- Categories -->
  <mat-card-content *ngIf="categories.length" class ="center">
    <cdk-virtual-scroll-viewport itemSize="{{this.scroll.getItemSize()}}" [ngStyle]= "this.scroll.getViewportStyle()">
      <div *cdkVirtualFor="let category of categories;" class="line" clickable routerLink="/categories/{{category.id}}">
        <div class="img-container">
          <img src="{{category.imageUrl}}"/>
        </div>
        <div class="text-container">
          <p class="vertical-align">
            <span class="category-name overflow-text">{{category.name}}</span>
          </p>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-card-content>

</mat-card>

