@import "../styles/menu-style";
@import "../styles/virtual-scroll-style";

.product-name {
  font-size: 140%;
  display: inline-block;
  width: 80%;
  height: 30px;
}

.product-info {
  display: inline-block;
  width: 50%;
  margin: 0 2.5%;
  padding: 0;
}

.product-price {
  font-size: 140%;
  float:right;
  display: inline-block;
  width: 20%;
  text-align: right;
  height: 30px;
}

.product-description{
  display: block;
  overflow-y: -webkit-paged-y;
  height: 30px;
  text-overflow: ellipsis;
  margin-right: 7%;
  font-size: 90%;
  font-style: italic;
  white-space: pre-line;
  clear: both;
}

.no-product{
  clear: both;
  display: block;
  width: 100%;
  border: 2px red solid;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
  margin-top: 5%;
}

/* Bold product's name when hover */
.line:hover .product-name{
  font-weight: bold;
}
