.center{
  clear: both;
  width: 80%;
  margin: auto;
  padding: 3%;
}

.load-more-container{
  text-align: center;
}

.no-product{
  clear: both;
  display: block;
  width: 100%;
  border: 2px red solid;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
}

.img-button-container{
  width: 10%;
  display: inline-block;
}

.button-container{
  float: left;
  display: inline-block;
}

.category-name-container{
  text-align: center;
  display: block;
}

h2 {
  text-align: center;
  height: 50%;
}

/* Remove default list display */
ul {
  list-style: none;
  padding-left: 0px;
  border: 1px solid black;
  margin: auto;
}

li {
  border-bottom: 1px solid darkgray;
  padding: 1% 2%;
}

/* Remove last product's border */
li:last-of-type {
  border-bottom: 0px;
}

.img-container {
  display: inline-block;
  width: 20%;
  height: 20%;
  overflow: hidden;
  margin-right: 2%;
  padding: 0px;
}

img {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.product-info {
  display: inline-block;
  width: 53%;
  margin: 0 2.5%;
  padding: 0;
}

.product-name {
  font-size: 140%;
  float: left;
}

.product-price {
  font-size: 130%;
  float: right;
}

.product-description{
  display: block;
  margin-right: 5%;
  font-size: 90%;
  font-style: italic;
  white-space: pre-line;
  clear: both;
  line-height: 1em;
  height: 1em;
  overflow: hidden;
}
