<!-- Card -->
<mat-card [ngClass]="{disabled: page.isDisabled()}" class="center">

  <!-- Title -->
  <mat-card-title *ngIf="categoryName.length > 1">
    <h2 class="overflow-text">{{categoryName[1]}}</h2>
  </mat-card-title>

  <!-- Content -->
  <mat-card-content *ngIf="products.length > 0" class = "center" [ngClass]="{disabled: page.isDisabled()}">
    <!-- Virtual Scroll -->
    <cdk-virtual-scroll-viewport itemSize="{{scroll.itemSize}}" [ngStyle]= "scroll.viewPortSize" (scrolledIndexChange)="checkLoad($event)">
      <!-- Products -->
      <a *cdkVirtualFor="let product of products;" class="line" (click)="openDetail(product)">
        <!-- Image -->
        <div class="img-container">
            <span aria-hidden="true" class="centerVertical"></span>
            <img src="{{product.imageUrls[0]}}">
        </div>
        <!-- Text -->
        <div class="text-container product-description">
          <!-- First Line -->
            <div class="product-name">{{product.name}}</div>
            <div class="product-price">{{product.price}} €</div>
        </div>
      </a>
      <!-- Spinner -->
      <mat-spinner *ngIf="loading" class="center"></mat-spinner> <!-- [diameter]="this.scroll.itemSize" -->
    </cdk-virtual-scroll-viewport>
  </mat-card-content>

  <!-- No Products -->
  <mat-card-content *ngIf="checkLoadEnded() && !products.length" [ngClass]="{disabled: page.isDisabled()}">
    <p class="no-product overflow-text">Nessun prodotto da mostrare</p>
  </mat-card-content>
</mat-card>
