@import "../styles/menu-style";
@import "../styles/virtual-scroll-style";

.product-name {
  font-size: 130%;
  display: inline-block;
  height: 8vh;
  width: 80%;
}

.first-line{
  height: 8vh;
  margin: 0px;
}

.second-line{
  height: 4vh;
  margin: 0px;
}

.product-price {
  font-size: 130%;
  float:right;
  display: inline-block;
  width: 20%;
  height: 8vh;
  text-align: right;
}

.product-description{
  display: block;
  overflow-y: -webkit-paged-y;
  height: 4vh;
  text-overflow: ellipsis;
  margin-right: 7%;
  font-size: 90%;
  font-style: italic;
  white-space: pre-line;
  clear: both;
}

.no-product{
  clear: both;
  display: block;
  width: 100%;
  border: 2px red solid;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
  margin-top: 5%;
}

/* Bold product's name when hover */
.line:hover .product-name{
  font-weight: bold;
}

mat-spinner{
  zoom: 0.5;
}

/* For phones */
@media only screen and (max-width: 600px) {

  .product-name, .first-line, .product-price {
    height: 10vh;
  }

}
