@import "../styles/menu-style";
@import "../styles/virtual-scroll-style";

.product-name {
  font-size: 130%;
  display: inline-block;
  max-height: 5vh;
  width: 34vw; /* 68% of .text-container */
  margin-right: 1vw; /* 2% of .text-container */
}

.first-line{
  max-height: 5vh;
  margin-bottom: 1vh;
}

.second-line{
  height: 6vh;
  margin: 0px;
}

.product-price {
  font-size: 130%;
  float:right;
  display: inline-block;
  width: 15vw; /* 30% of .text-container */
  max-height: 5vh;
  text-align: right;
}


.product-description{
  display: block;
  /* Uncomment for allineate .product-description with .product-name */
  /* width: 34vw; /* 78% of .text-container */
  max-height: 6vh;
  font-size: 90%;
  font-style: italic;
  clear: both;
  white-space: normal !important;
}

.no-product{
  clear: both;
  display: block;
  width: 80vw;
  border: 2px red solid;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
  margin-top: 5vh;
}

/* Bold product's name when hover */
.line:hover .product-name{
  font-weight: bold;
}

/* Reduce spinner diameter */
mat-spinner{
  zoom: 0.5;
}


/* For phones */
@media only screen and (max-width: 600px) {

  .product-name, .first-line {
    max-height: 7vh; /* increment line height */
  }

  /* Uncomment for allineate .product-description with .product-name */
  .product-name/*, .product-description */ {
    width: 43vw; /* 68% of .text-container */
  }

  .product-price{
    width: 19vw; /* 30% of .text-container */
  }

  .no-product{
    width: 100vw;
  };
}
