<!-- Header -->
<div class="center">
  <div class="button-container">
    <button routerLink="/categories">Categorie </button>
  </div>
                                        <!-- Category name loaded -->
  <div class="category-name-container" *ngIf="categoryName.length > 1">
    <h2>{{categoryName[1]}}</h2>
  </div>
</div>
<!-- Products -->
<div *ngIf="products.length > 0" class="center">
  <ul>
    <li *ngFor="let product of products">
      <!-- <div *ngFor="let url of product.imageUrls" class="img-container"> -->
      <div class="img-button-container">
        <button *ngIf="product.imageIndex > 0" (click)="changeImageIndex(product, -1)">Indietro</button>
      </div>
      <div class="img-container">
        <img src="{{product.imageUrls[product.imageIndex]}}"/>
      </div>
      <div class="img-button-container">
        <button *ngIf="product.imageIndex < product.imageUrls.length - 1" (click)="changeImageIndex(product, +1)">Avanti</button>
      </div>
      <div class="product-info">
        <span class="product-name">{{product.name}}</span>
        <span class="product-price">{{product.price}}</span>
        <span class="product-description">{{product.description | noHTML}} </span>
      </div>
    </li>
    <!-- Load More -->
    <li *ngIf="checkLoadMore()">
      <div class = "center load-more-container" >
        <button (click)="loadMore()">Load more</button>
      </div>
    </li>
  </ul>
</div>
<!-- No products to shows -->
<div *ngIf="checkLoadEnded() && !products.length" class="center">
  <span class="no-product">Nessun prodotto da mostrare</span>
</div>
