/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Common */

.center{
  clear: both;
  width: 80vw;
  margin: auto;
}

.centerVertical{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.disabled{
  opacity: 0.6;
}

/* Disable pointing on icon, if page is disabled */
.disabled mat-icon {
  cursor: not-allowed;
}

/* Icon link */
.icon-link{
  text-decoration: none;
  color: white;
}

.icon-link:hover{
  color: white;
  opacity: 0.6;
}

/* Text overflow managed with ... */
.overflow-text{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}