<app-nav-bar></app-nav-bar>
<div *ngIf="categoriesSub | async as categories" class="center search-line" [ngClass]="{disabled: disabled}">
  <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <select id="productCategory" [(ngModel)]="productCategory" name="category" #category="ngModel">
      <option [value]=undefined>Tutte le categorie</option>
      <option *ngFor="let cat of categories" [value]="cat.id">{{cat.description}}</option>
    </select>
    <input type="text" id="prodName" aria-label="cerca per nome" [(ngModel)]="productName" placeholder="Nome Prodotto" name="prodName"/>
    <input type="text" id="prodDescr" aria-label="cerca per descrizione" [(ngModel)]="productDescription" placeholder="Descrizione Prodotto" name="prodDescr"/>
    <button type="submit" class="mdc-icon-button material-icons">search</button>
  </form>
  <!-- <mat-icon>search</mat-icon> -->
</div>


<!-- Card -->
<mat-card [ngClass]="{disabled: disabled}" class="center">

  <!-- Title -->
  <mat-card-title>
    <h2 class="overflow-text">Risultati</h2>
  </mat-card-title>
  
  <!-- Content -->
  <mat-card-content *ngIf = "resultsSub | async as results" class = "center">

    <!-- Virtual Scroll -->
    <cdk-virtual-scroll-viewport *ngIf="results.length > 0; else noResults"> <!--(scrolledIndexChange)="checkLoad($event)"-->
      <!-- Products -->
      <a *cdkVirtualFor="let product of results;" class="line" (click)="openDetail(product)">
        <!-- Image -->
        <div class="img-container">
          <span aria-hidden="true" class="centerVertical"></span>
          <img src="{{product.images[0].imageUrl}}">
        </div>
        <!-- Text -->
        <div class="text-container">
          <!-- First Line -->
          <p class="first-line">
            <span class="product-name overflow-text">{{product.description}}</span>
            <span class="product-price overflow-text">{{product.prices[0].value | currency}}</span>
          </p>
        </div>
      </a>
      <!-- Spinner -->
      <mat-spinner *ngIf="loading" class="center"></mat-spinner> <!-- [diameter]="this.scroll.itemSize" -->
    </cdk-virtual-scroll-viewport>

    <!-- No Products -->
    <ng-template #noResults>
      <mat-card-content>
        <p class="no-product overflow-text">Nessun prodotto da mostrare</p>
      </mat-card-content>
    </ng-template>

  </mat-card-content>
</mat-card>

